/*========================
           Reset
======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
/*========================
        General
======================== */

body {
  background: url("assets/images/background.jpg") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25vh;
  padding: 20px;
}
main {
  height: auto;
  display: flex;
  justify-content: center;
}
h1 {
  color: rgb(208, 208, 15);
  padding: 24px;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.drum-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  gap: 30px;
}
button {
  padding: 8px;
  flex: 1;
  gap: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid rgb(255, 255, 255);
  color: aliceblue;
  font-size: 2rem;
  border-radius: 10px;
  min-width: 100px;
  max-width: 150px;
  cursor: pointer;
  box-shadow: none;
  transform: scale(1);
  transition: all 0.5s linear;
}
button span {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}
.playing {
  border-color: rgb(208, 208, 15);
  box-shadow: 0 0 10px 10px rgb(208, 208, 15);
  transform: scale(1.1);
  transition: all 0.1s ease-out;
}

@media (max-width: 800px) {
  body {
    background: url("assets/images/background.jpg") center/cover repeat;
  }
}
